

.container {
    width: 60%;
    height: 700px;
    background-color: #0d1117;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.search {
    position: relative;
    margin-top: 25px;
    margin-left: 180px;
}

.selector {
    position: relative;
    margin-left: 600px;
    margin-top: 20px;
}

.button {
 position: relative;
 margin-right: 20rem;
 background-color: #238636;
}